{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Data Hasil UKMPPD CBT</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/rdib.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    {% tailwind_css %}
  </head>

  <body class="bg-slate-100 font-['Inter']">

    {% comment %} Sidebar {% endcomment %}
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="h-full px-3 py-4 mt-1 overflow-y-auto bg-white flex flex-col justify-between">
        <div class="flex flex-col gap-6">
          <div class="sm:ml flex justify-center gap-2 items-center">
            <img class="w-10" src="{% static 'img/rdib.png' %}" />
            <img class="w-[163.76px] h-[19.51px]" src="{% static 'img/fkum.png' %}" />
          </div>
          
          <ul class="space-y-4 font-medium">
            <a href="/" class="flex items-center p-3 hover:bg-slate-100 rounded-lg">
              <li class="flex gap-2 items-center justify-start">
                <svg class="w-6 h-6 text-slate-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd" />
                </svg>
                <span class="text-slate-400 text-[14px] font-medium font-['Inter'] leading-normal">Data Nilai Mahasiswa</span>
              </li>
            </a>

            <a href="/data-ukmppd" class="flex items-center p-3 rounded-lg bg-blue-50">
              <li class="flex gap-2 items-center justify-start">
                <svg class="w-6 h-6 text-blue-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm-1 9a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0v-2Zm2-5a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Zm4 4a1 1 0 1 0-2 0v3a1 1 0 1 0 2 0v-3Z" clip-rule="evenodd" />
                </svg>
                <span class="text-blue-700 text-[14px] font-medium font-['Inter'] leading-normal">Data Hasil UKMPPD CBT</span>
              </li>
            </a>

            <a href="/model-prediksi" class="flex items-center p-3 hover:bg-slate-100 rounded-lg">
              <li class="flex gap-2 items-center justify-start">
                <svg class="w-6 h-6 text-slate-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z" />
                </svg>
                <span class="text-slate-400 text-[14px] font-medium font-['Inter'] leading-normal">Model Prediksi</span>
              </li>
            </a>
          </ul>
        </div>

        <div class="px-4 py-2 mb-2 border-2 rounded-lg flex justify-between items-center">
          <div class="flex flex-col">
              <span class="text-slate-600 text-sm font-semibold">{{ user.username }}</span>
              <span class="text-slate-500 text-xs font-normal">{{ user.email }}</span>
          </div>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-transparent border-none p-0 cursor-pointer">
                <svg width="20" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 16L21 12M21 12L17 8M21 12L7 12M13 16V17C13 18.6569 11.6569 20 10 20H6C4.34315 20 3 18.6569 3 17V7C3 5.34315 4.34315 4 6 4H10C11.6569 4 13 5.34315 13 7V8" stroke="#EF4444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
          </form>
      </div>
      </div>
    </aside>

    {% comment %}Title{% endcomment %}
    <div class="p-4 gap-y-8 sm:ml-64 mr-8 ps-8 flex flex-col">
      <div class="flex items-center justify-between">
        <span class="text-slate-700 text-2xl font-semibold font-['Inter'] leading-loose">Aplikasi Prediksi dan Sistem Pakar Kelulusan UKMPPD</span>
        <a href="form-ukmppd/" class="bg-blue-600 hover:bg-blue-700 rounded-lg justify-center items-center flex gap-3 px-5 h-[37px]">
          <span class="text-white text-sm font-base font-['Inter'] leading-[21px]">Unggah Hasil UKMPPD CBT</span>
          <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
          </svg>
        </a>
      </div>

      {% comment %}Card{% endcomment %}
      <div class="flex flex-col gap-4">
        {% comment %} Header {% endcomment %}
        <div class="flex justify-between">
          <span class="text-slate-600 text-lg font-medium font-['Inter'] leading-7">Data Hasil UKMPPD CBT</span>
        </div>
        {% comment %} Card {% endcomment %}
        <div class="grid md:grid-cols-2 gap-14">
          {% comment %}CARD ONE{% endcomment %}
          <div class="flex gap-x-4 items-center bg-white shadow p-7 rounded-lg">
            <svg class="w-8 h-8 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Z" />
              <path fill-rule="evenodd" d="M11 7V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm4.707 5.707a1 1 0 0 0-1.414-1.414L11 14.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd" />
            </svg>
            <div class="flex flex-col justify-start items-start gap-1">
              <span class="text-slate-500 text-[16px] leading-snug">Jumlah Mahasiswa Lulus</span>
              <span class="text-[30px] font-bold leading-none">{{ ukmppd_lulus|default:0 }}</span>
            </div>
          </div>
          {% comment %} CARD TWO {% endcomment %}
          <div class="flex gap-x-4 items-center bg-white shadow p-7 rounded-lg">
            <svg class="w-8 h-8 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4" />
            </svg>
            <div class="flex flex-col justify-start items-start gap-1">
              <span class="text-slate-500 text-[16px] leading-snug">Jumlah Mahasiswa Retake</span>
              <span class="text-[30px] font-bold leading-none">{{ ukmppd_retake|default:0 }}</span>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Tabel Nilai {% endcomment %}
      <form method="GET" action="{% url 'index_ukmppd' %}" class="grid">
        <div class="justify-end inline-flex gap-2">         
          <div class="w-full flex items-center relative">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute w-5 h-5 left-3 text-slate-600">
              <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
            </svg>
            <input
            name = "query"
            value = "{{ ukmppd_search_query|default:''}}"
            class="w-full bg-gray-50 placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-lg pl-10 pr-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300"
            placeholder="Cari nama atau NIM mahasiswa disini"/>
          </div>

          <select name="periode_ukmppd" id="periode_ukmppd" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-3 py-1">
            <option value="Semua Periode" {% if ukmppd_filter_periode == "Semua Periode" %} selected {% endif %}>Semua Periode</option>
            {% for periode_value in periode_list %}
              <option value="{{ periode_value }}" {% if ukmppd_filter_periode == periode_value %} selected {% endif %}>{{ periode_value }}</option>
            {% endfor %}
          </select>

          <select name="status" id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-3 py-1">
            <option value="Semua" {% if ukmppd_filter_status == "Semua" %} selected {% endif %}>Semua Status</option>
            <option value="Lulus" {% if ukmppd_filter_status == "Lulus" %}selected{% endif %}>Lulus</option>
            <option value="Retake" {% if ukmppd_filter_status == "Retake" %}selected{% endif %}>Retake</option>
          </select>

          <button
          class="rounded-lg bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 ml-2"
          type="submit">
          Cari
          </button>
        </div>
      </form>

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs uppercase bg-slate-50 border-b">
            <tr>
              <th scope="col" class="p-4">NIM</th>
              <th scope="col" class="px-6 py-3">Nama Mahasiswa</th>
              <th scope="col" class="px-6 py-3">Angkatan</th>
              <th scope="col" class="px-6 py-3">Periode UKMPPD</th>
              <th scope="col" class="px-6 py-3">Hasil UKMPPD</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
            {% if page_obj.object_list %}
              {% for dashboard in page_obj.object_list %}
              <tr class="bg-white border-b hover:bg-gray-200">
                <td class="w-4 p-4">{{dashboard.NIM}}</td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{dashboard.nama_mahasiswa}}</th>
                <td class="px-6 py-4">{{dashboard.angkatan}}</td>
                <td class="px-6 py-4">{{dashboard.periode_ukmppd}}</td>
                <td class="px-6 py-4">
                {% if dashboard.hasil_ukmppd == 1 %}
                  <span class="bg-green-100 text-green-800 border-green-300 font-['Inter'] text-xs font-medium me-2 px-2.5 py-0.5 rounded">Lulus</span>
                {% elif dashboard.hasil_ukmppd == 0 %}
                  <span class="bg-red-100 text-red-800 border-red-300 font-['Inter'] text-xs font-medium me-2 px-2.5 py-0.5 rounded">Retake</span>
                {% endif %}
                </td>
                <td class="px-4 py-4">
                  <a href="{% url 'detail-hasil-ukmppd' dashboard.NIM %}" class="font-medium hover:underline">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 3C10.4477 3 10 3.44772 10 4C10 4.55228 10.4477 5 11 5H13.5858L7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071C7.68342 13.0976 8.31658 13.0976 8.70711 12.7071L15 6.41421V9C15 9.55228 15.4477 10 16 10C16.5523 10 17 9.55228 17 9V4C17 3.44772 16.5523 3 16 3H11Z" fill="#94A3B8" />
                      <path d="M5 5C3.89543 5 3 5.89543 3 7V15C3 16.1046 3.89543 17 5 17H13C14.1046 17 15 16.1046 15 15V12C15 11.4477 14.5523 11 14 11C13.4477 11 13 11.4477 13 12V15H5V7L8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5H5Z" fill="#94A3B8" />
                    </svg>
                  </a>
                </td>
              </tr>
              {% endfor %}
            {% else %}
            <tr>
              <td colspan="5" class="text-center py-4">Data tidak ditemukan</td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        {% comment %} Table Pagination {% endcomment %}
        <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between py-3" aria-label="Table navigation">
          <span class="pl-4 text-sm font-normal text-gray-500 :inline md:w-auto">Showing 
              <span class="font-semibold text-gray-900">{{ page_obj.start_index }}-{{ page_obj.end_index }}</span> of 
              <span class="font-semibold text-gray-900">{{ record_count }}</span>
          </span>
          <ul class="pr-3 inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
              {% if page_obj.has_previous %}
                  <li>
                      <a href="?page={{ page_obj.previous_page_number }}{% if clean_query %}&{{ clean_query }}{% endif %}" class="flex items-center justify-center px-1 h-7 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                          <svg class="w-6 h-6 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4" />
                          </svg>
                      </a>
                  </li>
              {% else %}
                <li>
                  <a href="#" class="flex items-center justify-center px-1 h-7 ms-0 leading-tight text-gray-300 bg-gray-100 border border-gray-300 rounded-s-lg" disabled>
                    <svg class="w-6 h-6 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4" />
                    </svg>
                  </a>
                </li>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                      <li>
                          <a href="?page={{ num }}{% if clean_query %}&{{ clean_query }}{% endif %}" aria-current="page" class="flex items-center justify-center px-3 h-7 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700">
                              {{ num }}
                          </a>
                      </li>
                  {% else %}
                      <li>
                          <a href="?page={{ num }}{% if clean_query %}&{{ clean_query }}{% endif %}" class="flex items-center justify-center px-3 h-7 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                              {{ num }}
                          </a>
                      </li>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}{% if clean_query %}&{{ clean_query }}{% endif %}" class="flex items-center justify-center px-1 h-7 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                        <svg class="w-6 h-6 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4" />
                        </svg>
                    </a>
                </li>
              {% else %}
                <li>
                  <a href="#" class="flex items-center justify-center px-1 h-7 leading-tight text-gray-300 bg-grey-100 border border-gray-300 rounded-e-lg" disabled>
                      <svg class="w-6 h-6 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4" />
                      </svg>
                  </a>
                </li>
              {% endif %}

          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
