{% load static tailwind_tags %} 
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Detail Hasil UKMPPD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"/>
    {% tailwind_css %}
</head>
<body class="bg-slate-100 font-['Inter']">
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 mt-1 overflow-y-auto bg-white flex flex-col justify-between">
            <div class="flex flex-col gap-6">
                <div class="sm:ml flex justify-center gap-2 items-center">
                    <img class="w-10" src="{% static 'img/rdib.png' %}" />
                    <img class="w-[163.76px] h-[19.51px]" src="{% static 'img/fkum.png' %}"/>
                </div>

                <ul class="space-y-4 font-medium">

                    <a href="/" class="flex items-center p-3 hover:bg-slate-100 rounded-lg text-gray-900">
                        <li class="flex gap-2 items-center justify-start">
                            <svg class="w-6 h-6 text-slate-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
                            </svg>
                            <span class="text-slate-400 text-[14px] font-medium font-['Inter'] leading-normal">Data Nilai Mahasiswa</span>
                        </li>
                    </a>

                    <a href="/data-ukmppd" class="flex items-center p-3 hover:bg-slate-100 rounded-lg text-gray-900">
                        <li class="flex gap-2 items-center justify-start">
                            <svg class="w-6 h-6 text-slate-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm-1 9a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0v-2Zm2-5a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Zm4 4a1 1 0 1 0-2 0v3a1 1 0 1 0 2 0v-3Z" clip-rule="evenodd"/>
                            </svg>
                            <span class="text-slate-400 text-[14px] font-medium font-['Inter'] leading-normal">Data Hasil UKMPPD CBT</span>
                        </li>
                    </a>

                    <a href="/model-prediksi" class="flex items-center p-3 bg-blue-50 rounded-lg text-blue-600">
                        <li class="flex gap-2 items-center justify-start">
                            <svg class="w-6 h-6 text-blue-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z"/>
                            </svg>
                            <span class="text-blue-700 text-[14px] font-medium font-['Inter'] leading-normal">Model Prediksi</span>
                        </li>
                    </a>
                    
                </ul>
            </div>

            <div class="px-4 py-2 mb-2 border-2 rounded-lg flex justify-between items-center">
                <div class="flex flex-col">
                    <span class="text-slate-600 text-sm font-semibold">{{ user.username }}</span>
                    <span class="text-slate-500 text-xs font-normal">{{ user.email }}</span>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-transparent border-none p-0 cursor-pointer">
                        <svg width="20" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 16L21 12M21 12L17 8M21 12L7 12M13 16V17C13 18.6569 11.6569 20 10 20H6C4.34315 20 3 18.6569 3 17V7C3 5.34315 4.34315 4 6 4H10C11.6569 4 13 5.34315 13 7V8" stroke="#EF4444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </aside>
    <div class="justify-center items-center flex flex-col gap-4 p-12 ml-32">
        <div class="bg-white rounded-lg shadow-md p-6 max-w-lg space-y-4">
            <div class="text-lg font-semibold text-slate-700">Model Prediksi</div>
            <div class="text-sm font-normal text-slate-500 text-wrap text-justify">Model prediksi dirancang untuk melakukan prediksi kelulusan mahasiswa pada percobaan pertama ujian UKMPPD aspek kognitif. Model ini dirancang berdasarkan data historis yang telah tersimpan pada sistem yang diolah menggunakan konsep klasifikasi pada pembelajaran mesin.</div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6 max-w-lg space-y-4">
            <div class="space-y-2">
                <div class="text-lg font-semibold text-slate-700">Pembaruan Model Prediksi</div>
                <div class="text-sm font-normal text-slate-500 text-wrap text-justify">Pembaruan model prediksi membutuhkan waktu untuk melakukan pemrosesan pada data baru.</div>
            </div>

            <div class="border-slate-200 border-2 w-full p-4 rounded-lg flex-row gap-4 items-center">
                <div class="grid grid-cols-6 gap-2 items-center">
                    <div class="col-span-4">
                        <div class="text-md font-semibold text-slate-600">Model Prediksi Semester 2</div>
                        <div class="text-xs font-normal text-slate-400">Akurasi Model Prediksi Saat Ini:
                            <span class="font-semibold text-slate-500 ml-1">94%</span>
                        </div>
                    </div>
                    
                    <div class="col-span-2 justify-items-end">
                        <div class="items-center">
                            <button type="button" class="px-3 py-2 text-xs font-medium justify-center text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">
                            <svg class="w-4 h-4 text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
                            </svg>  
                            Training Model
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-slate-200 border-2 w-full p-4 rounded-lg flex-row gap-4 items-center">
                <div class="grid grid-cols-6 gap-2 items-center">
                    <div class="col-span-4">
                        <div class="text-md font-semibold text-slate-600">Model Prediksi Semester 3</div>
                        <div class="text-xs font-normal text-slate-400">Akurasi Model Prediksi Saat Ini:
                            <span class="font-semibold text-slate-500 ml-1">94%</span>
                        </div>
                    </div>
                    
                    <div class="col-span-2 justify-items-end">
                        <div class="items-center">
                            <button type="button" class="px-3 py-2 text-xs font-medium justify-center text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">
                            <svg class="w-4 h-4 text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
                            </svg>  
                            Training Model
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-slate-200 border-2 w-full p-4 rounded-lg flex-row gap-4 items-center">
                <div class="grid grid-cols-6 gap-2 items-center">
                    <div class="col-span-4">
                        <div class="text-md font-semibold text-slate-600">Model Prediksi Semester 4</div>
                        <div class="text-xs font-normal text-slate-400">Akurasi Model Prediksi Saat Ini:
                            <span class="font-semibold text-slate-500 ml-1">94%</span>
                        </div>
                    </div>
                    
                    <div class="col-span-2 justify-items-end">
                        <div class="items-center">
                            <button type="button" class="px-3 py-2 text-xs font-medium justify-center text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">
                            <svg class="w-4 h-4 text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
                            </svg>  
                            Training Model
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6 max-w-lg space-y-4 w-full">
            <div class="text-lg font-semibold text-slate-700">Riwayat Pembaruan Model</div>
            <div class="bg-blue-50 border-blue-100 border-2 w-full p-4 rounded-lg inline-flex flex-row gap-4 items-center">
                <svg class="w-7 h-7 text-green-600 col-end-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                </svg>
                <div class="flex flex-col gap-0">
                    <div class="text-md font-medium text-blue-600">26 November 2024 - 
                        <span> 13:00 </span>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="text-sm font-normal text-slate-500">Model Semester 1</div>
                        <div class="text-sm font-normal text-slate-300">●</div>
                        <div class="text-sm font-normal text-slate-500">Akurasi Model: <span> 92% </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>