{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unggah Data Nilai Mahasiswa</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/rdib.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    {% tailwind_css %}
</head>

<body class="font-['Inter'] bg-slate-100">
    <section class="flex flex-col items-center justify-center mx-auto h-screen">
        <div class="bg-white rounded-lg shadow-md space-y-6 px-6 py-8 w-full md:mt-0 sm:max-w-[500px]">
            <div class="grid grid-cols-4">
                <div class="col-span-3 justify-start text-slate-800 font-semibold text-xl w-full">Unggah Data Nilai</div>
                <div class="flex col-span-1 justify-end">
                    <a href="/">
                    <svg class="w-5 h-5 text-slate-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    </a>
                </div>
            </div>

            {% if messages %}
                    <div>
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div id="alert-2" class="flex items-center p-4 mb-4 text-red-600 rounded-lg bg-red-50" role="alert">
                                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
                                    </svg>
                                    
                                    <div class="ms-3 text-sm font-medium">
                                        {{ message }}
                                    </div>
                                </div>
                            {% else %}
                                <div id="alert-3" class="flex items-center p-4 mb-4 text-green-600 rounded-lg bg-green-50" role="alert">
                                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                                    </svg>

                                    <div class="ms-3 text-sm font-medium">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            <form action="{% url 'upload-nilai' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="space-y-2">
                    <label class="block text-sm font-medium text-gray-900" for="file_input">Unggah File</label>
                    <input class="block p-2 w-full text-sm text-slate-600 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none file:bg-blue-600 file:hover:bg-blue-700 file:py-2 file:rounded-md file:text-white file:border-none file:mr-4 file:text-xs" aria-describedby="file_input_help" id="file_input" type="file" name="file"/>
                    <p class="text-sm text-gray-500" id="file_input_help">File dalam format CSV.</p>
                </div>

                <button type="submit" class="my-4 w-full px-5 py-2.5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Unggah Data</button>
            </form>

            <div>
                <p class="text-md font-medium text-gray-500 mb-4">Panduan Unggah Nilai Mahasiswa</p>

                    <ul class="max-w-md space-y-2 text-sm font-medium text-gray-600 list-disc list-inside">
                        <li class="flex items-start">
                            <svg class="w-3.5 h-3.5 me-3 mt-1 text-grey-600 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>

                            <span  class="w-full text-wrap">Unduh dokumen template pada tautan berikut: <br><a href="https://drive.google.com/file/d/1VEbg1wdF_TCT7MLFFQqhTQ-K9YO_DjV2/view?usp=sharing" class=" text-blue-500 underline" target="_blank">Unduh template</a></span>
                        </li>

                        <li class="flex items-start">
                            <svg class="w-3.5 h-3.5 me-3 mt-1 text-grey-600 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>

                            <span class="w-full text-wrap">Isi kolom yang tersedia pada dokumen template sesuai dengan data yang sesuai</span>
                        </li>

                        <li class="flex items-start">
                            <svg class="w-3.5 h-3.5 me-3 mt-1 text-grey-600 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>

                            <span class="w-full text-wrap">Dimohon untuk tidak mengubah nama kolom pada dokumen template</span>
                        </li>

                        <li class="flex items-start">
                            <svg class="w-3.5 h-3.5 me-3 mt-1 text-grey-600 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>

                            <span class="w-full text-wrap">Untuk kolom nilai, pastikan pemisah decimal ditulis dengan menggunakan titik (Contoh: 86.62)</span>
                        </li>

                        <li class="flex items-start">
                            <svg class="w-3.5 h-3.5 me-3 mt-1 text-grey-600 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>

                            <span class="w-full text-wrap">Simpan file dalam format .csv agar dapat terbaca oleh sistem</span>
                        </li>
                    </ul>
            </div>
        </div>
    </section>
</body>
</html>